<ion-view view-title="Account">
  <ion-content>
    <div class="card">
      <div style="" ng-switch="ref.getAuth() === null"> <!-- If the user is logged in, display them as being logged in. If they are not logged in tell them they are logged in as guest-->
        <div ng-switch-when="true" class="item item-text-wrap">Currently logged in as Guest</div>
        <div ng-switch-when="false" clas="item item-text-wrap">Currently logged in as Someone</div> <!-- TODO: find some way to query their username and display it here-->
      </div>
    </div>
    <div style="" ng-switch="ref.getAuth() === null"> <!-- If the user is logged in, display the logout button. If the user is logged out, display the login button -->
      <div class="list list-inset">
        <div ng-switch-when="true" ng-click="showLogin()" class="button button-block button-balanced">Login</div>
        <div ng-switch-when="true" ng-click="showSignup()" class="button button-block button-balanced">Sign Up</div>
        <div ng-switch-when="false" ng-click="logout()" class="button button-block button-assertive">Logout</div>
      </div>
    </div>
    <div>
      <div class="list list-inset">
        <div ng-click="goIdeas()" class="button button-block button-balanced">Ideas</div>
      </div>
    <div>
  </ion-content>
</ion-view>
