<ion-view title="Comments" ng-controller="CommentsCtrl">
	<ion-nav-buttons side="primary">
    	<button class="button button-icon button-clear ion-navicon" ng-click="toggleSide()"></button>
  	</ion-nav-buttons>
  	<ion-content ng-switch="state">
      <div class="list card" ng-switch-when="load">Loading!</div>
      <div class="" ng-switch-when="ready">
      	<div class="list card">
          <div class="item item-divider">{{idea.idea.name}}</div>
          <div class="item item-body">
            <div>
              {{idea.idea.description}}
            </div>
          </div>
        </div>
      	<div ng-repeat="c in comments" class="list card">
          <div class="item item-body">
            <div>
              {{c.comment.text}}
            </div>
          </div>
        </div>
        <div class="list card">
          <div class="item item-divider">
            <div>
              Post a comment!
            </div>
          </div>
          <div class="item item-body">
            <textarea placeholder="Comment" ng-model="comment.text"></textarea>
          </div>
        </div>
        <div class="list list-inset">
          <div class="button button-block button-balanced" ng-click="doPost()">Submit</div>
        </div>
      </div>
      <div class="list card" ng-switch-when="invalid">Invalid URL!</div>
   	</ion-content>
</ion-view>