<ion-view>
  <ion-side-menus>
    <!-- Center Content - Idea Browser -->
    <ion-side-menu-content ng-controller="MainCtrl">
      <ion-nav-bar side="secondary" class="bar-positive"> <!-- I'm too tired to figure out why this won't work. If anyone wants to figure it out, it would be greatly appreciated. TODO: UPDATE: What if it just isn't appearing because there is no where to go back to-LOL, I really hope that is the issue -->
        <ion-nav-bar-back-button class="button-icon ion-arrow-left-c">
        </ion-nav-bar-back-button>
      </ion-nav-bar>
      <ion-nav-view name="mainContent"></ion-nav-view> <!-- This secondary nav view allows us to displays different pages in here while still allowing access the the left side menu -->
    </ion-side-menu-content>

    <!-- Left Menu - Account Menu -->
    <ion-side-menu side="left" ng-controller="AccountCtrl">
      <ion-header-bar class="bar-positive">
        <h1 class="title">Account Management</h1>
      </ion-header-bar>
      <ion-content>
        <div class="card">
          <div style="" ng-switch="ref.getAuth() === null">
            <!-- If the user is logged in, display them as being logged in. If they are not logged in tell them they are logged in as guest-->
            <div ng-switch-when="true" class="item item-text-wrap">Currently logged in as: Guest</div>
            <div ng-switch-when="false" clas="item item-text-wrap">Currently logged in as: Someone</div>
            <!-- TODO: find some way to query their username and display it here-->
          </div>
        </div>
        <div style="" ng-switch="ref.getAuth() === null">
          <!-- If the user is logged in, display the logout button. If the user is logged out, display the login button -->
          <div class="list list-inset">
            <div ng-switch-when="true" ng-click="showLogin()" class="button button-block button-balanced">Login</div>
            <div ng-switch-when="true" ng-click="showSignup()" class="button button-block button-balanced">Sign Up</div>
            <div ng-switch-when="false" ng-click="logout()" class="button button-block button-assertive">Logout</div>
          </div>
        </div>
      </ion-content>
    </ion-side-menu>

    <!-- Right menu -->
    <!-- <ion-side-menu side="right">
  </ion-side-menu> -->
  </ion-side-menus>
</ion-view>